*.pyc
.idea/*
build/*
dist/*
Alpha_Mind.egg-info/*
*.pyd
*.c
*.cpp
*.html
*.nbc
*.nbi
/notebooks/.ipynb_checkpoints/*
/notebooks/machine learning/.ipynb_checkpoints/*
alphamind/cython/*.so
alphamind/examples/*.xlsx
alphamind/examples/*.csv